.page{
    background-color: #ffff;
    height: 100vh;
}

.formInputs{
    padding: 12px 10px 25px 10px;
}

.submit{
    margin-top: 100px;
}

.search{
    margin-top: 20px;
}

.searchInput{
    width: 500px;
}


label{
    display: inline-block;
}
@media only screen and (max-width: 600px) {
    .searchInput {
        width: 100%; 
    }
}



.labelName{
    margin-right: 0 !important; /* Elimina el margen derecho */
    padding-right: 0 !important; /* Elimina el relleno derecho */
}

.grid{
    margin-top: 20px;
}

.create{
    margin-top: 20px;
}

.table{

    padding: 0;
}

.buttons{
    margin-top: 5px;
}
.searchInput{
    margin-top: 100px;
    margin-bottom: 100px;
}